//сброс настроек
* {
	padding:0px;
	margin:0px;
	outline:0;
	border:0;
}
html, body{
	background-color:#FFFDE4;
	font:12px Arial;
	color:#BB9D59;
}
a{
	color:#943415;
}
a:hover{
	text-decoration:none;
}
.g-button {
	background: url(/images/button.png) no-repeat top right;
	padding-right: 5px;
	float: left;
}
.g-button-in {
	background: url(/images/button.png) no-repeat top left;
	height: 20px;
	padding: 0px 0px 3px 5px;
	font-size: 11px;
	color: #943415;
	text-align: center;
}
.l-top{
	background:url(/images/top_back.png) repeat-x;
}
.h-top{
	height:450px;
	background:url(/images/top_bird.jpg) no-repeat top left;
	min-width:1000px;
	max-width:1200px;
	position:relative;
}
.b-menu{
	list-style:none;
	font:bold 12px Arial, sans-serif;
}
.b-menu-item{
	height:18px;
	padding:2px 8px 0px 8px;
	float:left;
	background:url(/images/top_active_menu.png) no-repeat 0px -36px;
}
.b-menu-item:first-child{
	background:none;
}
.b-menu-item-link{
	color:#45ADA9;
	text-decoration:none;
}
.b-menu-item:hover{
	padding-left:8px;
	background-position:0px -18px;
}
.b-menu-item.active:first-child, .b-menu-item:first-child:hover{
	padding-left:7px;
	background:url(/images/top_active_menu.png) no-repeat -1px -18px !important;
}
.b-menu-top{
	position:absolute;
	top:33px;
	right:18px;
}
.b-menu-top .b-menu-item.active .b-menu-item-link,
.b-menu-top .b-menu-item:hover .b-menu-item-link{
	color:#943415;
	display:block;
	height:16px;
	background:url(/images/top_active_menu.png) no-repeat right 0px;
	padding:2px 6px 0px 0px;
}
.b-menu-top .b-menu-item.active, .b-menu-top .b-menu-item:hover{
	padding-top:0px;
	padding-right:2px;
	background:url(/images/top_active_menu.png) no-repeat 0px -18px;
}
/*****************end_top_menu*****************/
/*****************logo*****************/
.b-logo {
	width: 220px;
	height: 44px;
	text-indent: -2000px;
	background: url(/images/logo.png) no-repeat;
	position: absolute;
	top: 75px;
	right: 205px;
}
/*****************end_logo*****************/
/*****************form_login*****************/
.b-auth {
	position: absolute;
	top: 149px;
	right: 10px;
}
.b-auth-name {
	font: 27px Georgia;
	color: #497f35;
	padding-bottom: 11px;
}
.b-auth-label {
	display: inline;
}
.b-auth-input {
	width: 161px;
	height: 17px;
	padding: 0px 10px;
	color: #bb9d59;
	font-size: 10px;
	background-color: #f9f6d4;
	border: none;
	margin-right: 25px;
}
.b-auth-regsub-sub {
	font-size: 16px;
	color: #ab8e4e;
	padding-top: 15px;
}
.b-auth-reg {
	color:#943415;
	text-decoration: none;
}
.b-auth-reg:hover {
	text-decoration: underline;
}
.b-auth-regsub-submit {
	float: none;
	padding-bottom: 3px;
	padding-left: 16px;
	position: relative;
	top: -2px;
	background-position: right 2px;
}
.b-auth-submit {
	width: 60px;
}
/*****************end_form_login*****************/
/*****************slogan*****************/
.b-slogan {
	font: 28px Georgia;
	padding: 0px 90px;;
	text-align: center;
	color: #497f35;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
/*****************end_slogan*****************/